<!DOCTYPE html>
<html>
<link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='add.css') }}">
<head>
	<h1>WALLET MANAGER</h1>
	<title>
		ADD
	</title>
	<h2>ADD EXPENSE</h2>
</head>
<body>
	<div class = "form_add">
	<form method="POST" action="" id = "add">
			<label>Title</label>
			<input type="text" name="title" required>
			<br><br>
			<label>Description</label>
			<input type="text" name="desc" required>
			<br><br>
			<label>Amount</label>
			<input type="number" step="any" min="0" name="amount" required>
			<br>
  {% if error %}
  <p><b>{{ error }}</b></p> 
  {% endif %}
  <button type="submit" form="add" value="Submit">Add</button>
  </form>
</div>


</body>
</html>